In [2]:
import pandas as pd
import requests
import json

In [11]:
df = pd.read_csv('API_test.csv')

In [12]:
df.rename(columns={'score': 'calculated_score'}, inplace=True)
df['calculated_score'] = df['calculated_score'].astype(int)
df.sample(3)

,COD_CLI,STATUS,IFIN1,IFIN2,IFIN3,IFIN4,IFIN5,IFIN6,IFIN7,IFIN8,...,REST_TIPO_1,REST_TIPO_2,REST_TIPO_3,REST_TIPO_4,REST_TIPO_5,UF,IDADE,RAMO,NUM_SOCIOS,calculated_score
10,2884,0,0.4,119.24,0.00,0.00,40.5,11.38,1.35,747.6,...,0,0,0,0,0,SP,17.0,5,2,480
14,2380,1,15.1,379.40,87.32,1.36,24.4,12.33,0.05,224.0,...,13,0,0,0,0,SP,33.0,7,3,180
4,2830,1,687.8,12417.22,72.52,0.41,11.2,13.49,-4.35,436.8,...,7,0,1,1,8,SP,50.0,1,4,295

In [18]:
url = "https://seunome.pythonanywhere.com/"

all_responses = []
for req in df.to_dict(orient='records'):
    payload = json.dumps(req)
    headers = {'Content-Type': 'application/json'}

    response = requests.request("GET", url, headers=headers, data=payload)
    all_responses.append(response.json())

In [19]:
df_responses = pd.DataFrame(all_responses)
df_responses.sample(3)

In [22]:
df_final = df.merge(df_responses.rename(columns={'cod_cli': 'COD_CLI'}), on='COD_CLI')

In [25]:
df_final['diff'] = df_final['calculated_score'] - df_final['score']
print('Max diff:', df_final['diff'].max())
print('mim diff:', df_final['diff'].min())
print('Sum diff:', df_final['diff'].sum())

Max diff: 0
mim diff: 0
Sum diff: 0